{% extends "admin.twig" %}

{% block page_title %}Редактирование экскурсии — {{ site_name }}{% endblock %}

{% block content %}
    {% include "parts/breadcrumbs.twig" %}

    <div class="page-header">
        {% if object.id %}
            <h1>Редактирование экскурсии</h1>
        {% else %}
            <h1>Добавление экскурсии</h1>
        {% endif %}
    </div>

    <form method="post" class="async">
        {% if args.get.back %}
            <input type="hidden" name="back" value="{{ args.get.back }}"/>
        {% endif %}

        <div class="form-group">
            <label>Название:</label>
            <input class="form-control" type="text" name="title" required="required" autofocus="autofocus" value="{{ object.title }}"/>
        </div>

        <div class="form-group">
            <label>Цена в рублях:</label>
            <input class="form-control" type="text" name="price" value="{{ object.price }}"/>
        </div>

        <div class="form-group">
            <label>Продолжительность:</label>
            <input class="form-control" type="text" name="duration" value="{{ object.duration }}"/>
            <p class="help-block">Пример: «2 часа», «3 дня».</p>
        </div>

        <div class="form-group">
            <label>Описание экскурсии:</label>
            <textarea class="form-control" name="contents" rows="10">{{ object.contents }}</textarea>
            {% include "parts/md-help.twig" %}
        </div>

        {% include "parts/gallery-edit.twig" %}

        <div class="form-group">
            <label>Порядковый номер:</label>
            <input class="form-control" type="text" name="order" value="{% if object.order %}{{ object.order }}{% else %}1{% endif %}"/>
            <p class="help-block">Выставки с одним порядковым номером будут отсортированы по алфавиту.</p>
        </div>

        <hr/>

        <div class="form-group">
            <label>Подзаголовок:</label>
            <input class="form-control" type="text" name="subtitle" value="{{ object.subtitle }}"/>
            <p class="help-block">Дополнительный текст, описывающий суть выставки в одном предложении.  Виден под заголовком.</p>
        </div>

        <div class="form-group">
            <label>Краткое название:</label>
            <input class="form-control" type="text" name="short_title" value="{{ object.short_title }}"/>
            <p class="help-block">Это название видно на главной странице.  Здесь не надо писать «выставка» итп.</p>
        </div>

        <div class="form-group">
            <label class="radio-inline"><input type="radio" name="published" value="yes"{% if object.published %} checked="checked"{% endif %}/> Опубликовать</label>
            <label class="radio-inline"><input type="radio" name="published" value="no"{% if not object.published %} checked="checked"{% endif %}/> черновик</label>
        </div>

        <hr/>

        <div class="actions actions-bottom">
            <button class="btn btn-primary">Сохранить изменения</button>
            {% if object.id %}
                <a href="/excursions/{{ object.id }}" class="btn btn-default">Открыть на сайте</a>
            {% endif %}
        </div>

        <p class="alert alert-info" id="msgbox" style="display: none"></p>
    </form>
{% endblock %}
