{% extends "base.twig" %}

{% block page_title %}{{ object.title }} — {{ site_name }}{% endblock %}

{% block content %}
    {% include "parts/breadcrumbs.twig" %}

    <div class="page-header">
        <h1>{{ object.title }}</h1>
        {% if object.subtitle %}
            <p class="lead">{{ object.subtitle }}</p>
        {% endif %}
    </div>

    <div id="place_map" class="map" data-center="{{ object.lat }}, {{ object.lng }}"></div>

    {{ object.contents_html|raw }}

    {% include "parts/gallery.twig" %}

    <hr/>

    <p><a href="/places">Другие места</a></p>
{% endblock %}
